/*

  MODX/BASSCSS

  CREATE BY: Wayne Roddy (wayne@modx.com)

  Styles are Desktop First
   - USE BREAKPOINTS:
     @include respond-to($mobile){ }
     @include respond-to-above($mobile){ }
   - .clearfix goes on the wrapper not after last float

    v3.3.0
    SVG Icons

*/
body, button, input, select, textarea, pre, ul, ol {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, dl, ol, ul, dt, dd {
  margin: 0; }

ul, ol {
  list-style: none; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

img {
  border: none; }

/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
/*
 * Normalization
 */
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

audio:not([controls]) {
  display: none; }

details {
  display: block; }

input[type="number"] {
  width: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

main {
  display: block; }

summary {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

[unselectable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0; }

* {
  margin: 0;
  padding: 0; }

:root {
  box-sizing: border-box;
  cursor: default;
  font: 16px / 1.5 sans-serif;
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

button,
input,
select,
textarea {
  min-height: 1.5em; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

select::-ms-expand {
  display: none; }

select::-ms-value {
  color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

@media screen {
  [hidden~="screen"] {
    display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important; } }

.measure {
  max-width: 48rem; }

.measure-narrow {
  max-width: 32rem; }

.measure-wide {
  max-width: 64rem; }

body {
  line-height: 1.5rem;
  font-weight: 400;
  font-family: "Open Sans", Arial, sans-serif; }

.condensed-bold, nav > ul > li > a, #mobile-nav > ul > li > a, footer h5 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700; }

.condensed, article h1, article h2, article h3, aside h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400; }

.condensed-light, footer a {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300; }

h1, .h1, .f1 {
  font-size: 2rem;
  line-height: 2rem; }

h2, .h2, .f2 {
  font-size: 1.5rem;
  line-height: 1.5rem; }

h3, .h3, .f3, h4 {
  font-size: 1.25rem;
  line-height: 1.5rem; }

p, .p, h5, h6, dl, ol, ul {
  font-size: 1rem;
  line-height: 1.5rem; }

small, .small, .f5 {
  font-size: .75rem;
  line-height: 1.5rem; }

@media only screen and (max-width: 680px) {
  .h1 {
    font-size: 1.7rem;
    line-height: 1.75rem; }
  .h2 {
    font-size: 1.25rem;
    line-height: 2rem; } }

strong, .bold {
  font-weight: bold; }

.regular {
  font-weight: normal; }

.italic {
  font-style: italic; }

.caps {
  text-transform: uppercase;
  letter-spacing: .1em; }

.center {
  text-align: center; }

.right-align {
  text-align: right; }

.leading-0 {
  line-height: 0; }

.leading-1 {
  line-height: 1rem; }

.leading-2 {
  line-height: 2rem; }

.leading-3 {
  line-height: 3rem; }

.leading-4 {
  line-height: 4rem; }

.m0 {
  margin: 0; }

.mb0 {
  margin-bottom: 0; }

.m1 {
  margin: 1rem; }

.mt1 {
  margin-top: 1rem; }

.mr1 {
  margin-right: 1rem; }

.mb1 {
  margin-bottom: 1rem; }

.ml1 {
  margin-left: 1rem; }

.m2 {
  margin: 2rem; }

.mt2 {
  margin-top: 2rem; }

.mr2 {
  margin-right: 2rem; }

.mb2 {
  margin-bottom: 2rem; }

.ml2 {
  margin-left: 2rem; }

.m3 {
  margin: 3rem; }

.mt3 {
  margin-top: 3rem; }

.mr3 {
  margin-right: 3rem; }

.mb3 {
  margin-bottom: 3rem; }

.ml3 {
  margin-left: 3rem; }

.m4 {
  margin: 4rem; }

.mt4 {
  margin-top: 4rem; }

.mr4 {
  margin-right: 4rem; }

.mb4 {
  margin-bottom: 4rem; }

.ml4 {
  margin-left: 4rem; }

.m-responsive {
  margin: 5rem; }

.mt-responsive {
  margin-top: 4rem; }

.mr-responsive {
  margin-right: 4rem; }

.mb-responsive {
  margin-bottom: 4rem; }

.ml-responsive {
  margin-left: 4rem; }

@media only screen and (max-width: 960px) {
  .m-responsive {
    margin: 3.5rem; }
  .mt-responsive {
    margin-top: 3rem; }
  .mr-responsive {
    margin-right: 3rem; }
  .mb-responsive {
    margin-bottom: 3rem; }
  .ml-responsive {
    margin-left: 3rem; } }

@media only screen and (max-width: 680px) {
  .m-responsive {
    margin: 2rem; }
  .mt-responsive {
    margin-top: 2rem; }
  .mr-responsive {
    margin-right: 2rem; }
  .mb-responsive {
    margin-bottom: 2rem; }
  .ml-responsive {
    margin-left: 2rem; } }

.quarter {
  padding: .25rem; }

.phalf {
  padding: .5rem; }

.p0 {
  padding: 0; }

.p1 {
  padding: 1rem; }

.px1 {
  padding-right: 1rem;
  padding-left: 1rem; }

.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.p2 {
  padding: 2rem; }

.px2 {
  padding-right: 2rem;
  padding-left: 2rem; }

.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.p3 {
  padding: 3rem; }

.px3 {
  padding-right: 3rem;
  padding-left: 3rem; }

.py3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.p4 {
  padding: 4rem; }

.px4 {
  padding-right: 4rem;
  padding-left: 4rem; }

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.p-responsive {
  padding: 5rem; }

.px-responsive {
  padding-right: 5rem;
  padding-left: 5rem; }

.py-responsive {
  padding-top: 5rem;
  padding-bottom: 5rem; }

@media only screen and (max-width: 960px) {
  .p-responsive {
    padding: 3.5rem; }
  .px-responsive {
    padding-right: 3rem;
    padding-left: 3rem; }
  .py-responsive {
    padding-top: 3rem;
    padding-bottom: 3rem; } }

@media only screen and (max-width: 680px) {
  .p-responsive {
    padding: 2rem; }
  .px-responsive {
    padding-right: 1.5rem;
    padding-left: 1.5rem; }
  .py-responsive {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; } }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.oh {
  overflow: hidden; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix:before, .list-inline:before, header:before, main:before, .mp-grid:before, .clearfix:after, .list-inline:after, header:after, main:after, .mp-grid:after {
  content: " ";
  display: table; }

.clearfix:after, .list-inline:after, header:after, main:after, .mp-grid:after {
  clear: both; }

.fit {
  max-width: 100%; }

.wrap {
  margin-right: auto;
  margin-left: auto; }

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.mobile-show, .tablet-show {
  display: none; }

@media only screen and (max-width: 960px) {
  .tablet-show,
  .tablet-block {
    display: block !important; }
  .tablet-block {
    width: 100% !important; }
  .tablet-hide {
    display: none; }
  .tablet-base {
    margin: 1rem !important;
    padding: 1rem !important; } }

@media only screen and (max-width: 680px) {
  .mobile-show,
  .mobile-block {
    display: block !important; }
  .mobile-block {
    width: 100% !important; }
  .mobile-hide {
    display: none; }
  .mobile-center {
    text-align: center; }
  .mobile-base {
    margin: 1rem !important;
    padding: 1rem !important; } }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.t0 {
  top: 0; }

.r0 {
  right: 0; }

.b0 {
  bottom: 0; }

.l0 {
  left: 0; }

.z9 {
  z-index: 99999; }

.z8 {
  z-index: 8000; }

.z7 {
  z-index: 7000; }

.z6 {
  z-index: 6000; }

.z5 {
  z-index: 5000; }

.z4 {
  z-index: 4000; }

.z3 {
  z-index: 3000; }

.z2 {
  z-index: 2000; }

.z1 {
  z-index: 1000; }

.z0 {
  z-index: 100; }

.absolute-center {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: table; }

/*
 * animations
 */
/*
 * colors
 */
/*
 * text colors
 */
.white {
  color: #FFFFFF; }

.black {
  color: #182225; }

.blue {
  color: #41585E; }

.light-gray {
  color: #D1D8D7; }

.mid-gray {
  color: #878888; }

.dark-gray {
  color: #434444; }

.red, .text-danger {
  color: #b02431; }

.green, .text-success {
  color: #56b03e; }

.orange, .text-warning {
  color: #ee9f12; }

.text-primary {
  color: #88c88e; }

.text-secondary {
  color: #7A8277; }

.natrual {
  color: #F3EFE0; }

.text-info {
  color: #878888; }

.text-muted {
  color: #D1D8D7; }

/*
 * solid background colors
 */
.bg-primary {
  background-color: #88c88e; }

.bg-secondary {
  background-color: #7A8277; }

.bg-natural {
  background-color: #F3EFE0; }

.bg-white {
  background-color: #FFFFFF; }

.bg-almost-white {
  background-color: #f4f4f4; }

.bg-black {
  background-color: #182225; }

.bg-blue {
  background-color: #41585E; }

.bg-dark-blue {
  background-color: #304449; }

.bg-light-gray {
  background-color: #D1D8D7; }

.bg-mid-gray {
  background-color: #878888; }

.bg-dark-gray {
  background-color: #434444; }

.bg-red {
  background-color: #b02431; }

.bg-green {
  background-color: #56b03e; }

.bg-orange {
  background-color: #ee9f12; }

/*
 * transparent background colors
 */
.bg-t-blue {
  background-color: rgba(0, 150, 204, 0.5); }

.bg-t-red {
  background-color: rgba(255, 29, 8, 0.5); }

.bg-t-green {
  background-color: rgba(86, 176, 62, 0.5); }

.bg-t-orange {
  background-color: rgba(221, 156, 0, 0.5); }

.sr-only {
  position: absolute !important;
  height: 1px;
  width: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

body {
  color: #878888;
  background-color: #FFFFFF; }
  body *:focus {
    outline: 1px solid #878888; }

.text-shadow {
  text-shadow: 1px 1px 1px #434444; }

img {
  max-width: 100%; }

a {
  color: #88c88e;
  text-decoration: none; }
  a:hover {
    color: #65b86d; }

hr {
  height: 0;
  border: none;
  border-bottom: 1px solid #D1D8D7;
  margin: 1rem 0; }

blockquote {
  border-left: 6px solid #88c88e;
  padding: .5rem 1rem;
  font-size: 1.15rem;
  line-height: 1.5rem;
  margin: 1rem 0;
  background-color: #f4f4f4;
  color: #434444; }
  blockquote p {
    padding-bottom: 0 !important; }

.logo {
  text-align: right;
  font-size: 1.25rem; }
  @media only screen and (max-width: 680px) {
    .logo {
      text-align: center;
      font-size: 1.75rem; } }

table thead {
  background: #f4f4f4;
  border-bottom: 1px solid #878888; }

table.border {
  border-color: #D1D8D7; }

table.highlight tbody tr:nth-child(even) {
  background-color: #f4f4f4; }

table.highlight tbody tr:hover {
  background-color: rgba(0, 150, 204, 0.5); }

.hover-shadow:hover {
  box-shadow: 0px 2px 3px 3px #D1D8D7; }

.hover-glow:hover {
  box-shadow: 0px 0px 3px 3px #D1D8D7; }

.border {
  border-style: solid;
  border-width: 1px; }

.border-top {
  border-top-style: solid;
  border-top-width: 1px; }

.border-white {
  border-color: #FFFFFF; }

.border-light-gray {
  border-color: #D1D8D7; }

.border-mid-gray {
  border-color: #878888; }

.border-dark-gray {
  border-color: #434444; }

.rounded {
  border-radius: .25rem; }

.rounded2 {
  border-radius: .5rem; }

.transition-all {
  transition: all .2s ease; }

.show-baseline {
  background-image: url(baseline-16.svg);
  background-size: .5rem .5rem; }

.show-outline, .show-outline * {
  outline: 1px solid rgba(65, 88, 94, 0.2); }

button .icon svg, button .icon-small svg, a .icon svg, a .icon-small svg {
  top: 45%; }

.icon {
  display: inline-block;
  text-align: center;
  position: relative;
  vertical-align: middle;
  width: 30px;
  height: 30px; }
  .icon svg {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 2.25px;
    transform: translateY(-50%); }

.icon-small {
  display: inline-block;
  text-align: center;
  position: relative;
  vertical-align: middle;
  width: 20px;
  height: 20px; }
  .icon-small svg {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 2.25px;
    transform: translateY(-50%); }

.icon-big {
  display: inline-block;
  text-align: center;
  position: relative;
  vertical-align: middle;
  width: 40px;
  height: 40px; }
  .icon-big svg {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%); }

.icon-huge {
  display: inline-block;
  text-align: center;
  position: relative;
  vertical-align: middle;
  width: 50px;
  height: 50px; }
  .icon-huge svg {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%); }

.icon-bg {
  border-radius: .5rem;
  background-color: #f4f4f4; }

.icon-primary {
  fill: #88c88e; }

.icon-secondary {
  fill: #7A8277; }

.icon-blue {
  fill: #41585E; }

.icon-white {
  fill: #FFFFFF; }

.icon-facebook {
  fill: #3b5998; }

.icon-twitter {
  fill: #55acee; }

.button {
  border-radius: .25rem;
  transition-duration: .2s;
  transition-timing-function: ease;
  transition-property: box-shadow , background-color;
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  white-space: nowrap;
  display: inline-block;
  line-height: 2rem;
  height: auto;
  min-height: 2rem;
  padding: .5rem 1rem; }
  .button:focus {
    outline: none; }

.button-big {
  padding: 1rem 1.5rem; }

.button-small {
  padding: 0 1rem; }

.button-primary {
  color: #FFFFFF;
  background-color: #88c88e; }
  .button-primary:hover {
    color: #FFFFFF;
    background-color: #65b86d; }

.button-secondary {
  color: #FFFFFF;
  background-color: #7A8277; }
  .button-secondary:hover {
    color: #FFFFFF;
    background-color: #61675f; }

.button-blue {
  color: #FFFFFF;
  background-color: #41585E; }
  .button-blue:hover {
    color: #FFFFFF;
    background-color: #2c3c40; }

.button-red, .button-danger {
  color: #FFFFFF;
  background-color: #b02431; }
  .button-red:hover, .button-danger:hover {
    color: #FFFFFF;
    background-color: #861b25; }

.button-gray, button:disabled, input:disabled {
  color: #FFFFFF;
  background-color: #878888; }
  .button-gray:hover, button:disabled:hover, input:disabled:hover {
    color: #FFFFFF;
    background-color: #545555; }

button:disabled, input:disabled {
  cursor: not-allowed; }

.button-dark {
  color: #FFFFFF;
  background-color: #434444; }
  .button-dark:hover {
    color: #FFFFFF;
    background-color: #101111; }

fieldset {
  margin: 0;
  padding: 0;
  border: none; }

.form {
  font-size: 1rem; }
  .form label {
    min-width: 10rem;
    display: inline-block; }
  .form .input-wrapper {
    margin-bottom: 1rem; }

.input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  max-width: 100%;
  height: 2rem;
  line-height: 1rem;
  padding: .5rem;
  border-radius: .25rem; }

.select {
  box-sizing: border-box;
  height: 2rem;
  margin-right: 0;
  margin-left: 0;
  border-radius: .25rem;
  padding-right: 1rem; }

.textarea {
  box-sizing: border-box;
  padding: .5rem;
  border-style: solid;
  border-width: 1px;
  line-height: 1.5rem;
  border-radius: .25rem; }

.form-stacked label {
  padding: .25rem; }

.form-stacked label,
.form-stacked .input,
.form-stacked .select,
.form-stacked .textarea {
  display: block;
  width: 100%; }

.form-stacked .input,
.form-stacked .select,
.form-stacked .radio,
.form-stacked .checkbox {
  margin-bottom: 1rem; }

input[type="radio"], input[type="radio"] + span, input[type="checkbox"], input[type="checkbox"] + span {
  vertical-align: middle; }

.form-light .input,
.form-light .textarea,
.form-light .select {
  transition: box-shadow .2s ease;
  color: #434444;
  border-color: #c3cccb;
  background-color: #fafbfc; }
  .form-light .input:focus,
  .form-light .textarea:focus,
  .form-light .select:focus {
    outline: none;
    border-color: #88c88e;
    background-color: #f7f8fa;
    box-shadow: 0 0 0.125rem rgba(135, 136, 136, 0.7); }

.form-light .radio input,
.form-light .checkbox input {
  transition: box-shadow .2s ease; }
  .form-light .radio input:focus,
  .form-light .checkbox input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 1px 4px rgba(135, 136, 136, 0.7); }

.form-light .radio input {
  border-radius: 50%; }

ul {
  margin-left: 1rem;
  list-style-type: disc; }
  ul li ul {
    margin-left: 1rem; }

ol {
  margin-left: 1rem;
  list-style: decimal; }
  ol li ol {
    margin-left: 1rem; }

.list-simple {
  list-style: none;
  padding-left: 0; }

.list-inline {
  list-style: none;
  padding-left: 0;
  margin: 0; }
  .list-inline li {
    display: inline;
    float: left;
    white-space: nowrap; }
    .list-inline li a.active {
      color: #ee9f12 !important; }
    .list-inline li:hover {
      background-color: #434444; }

.list-bordered li {
  border: 1px solid #D1D8D7; }
  .list-bordered li a {
    padding: .5rem; }

/*Layout Elements -

- MODULAR PERCENT LAYOUT

*/
.gutter {
  padding: .5rem; }

.gutter-x {
  padding: 0 .5rem; }

.gutterx2 {
  padding: 1rem; }
  @media only screen and (max-width: 680px) {
    .gutterx2 {
      padding: .5rem; } }

@media only screen and (max-width: 960px) {
  .tablet-gutter {
    padding: 0 1rem; } }

@media only screen and (max-width: 680px) {
  .mobile-gutter {
    padding: 0 1rem; } }

.full-width {
  width: 100%; }

.three-quarter-width {
  width: 75%; }

.half-width {
  width: 50%; }

.third-width {
  width: 33.333%; }

.quarter-width {
  width: 25%; }

@media only screen and (max-width: 64rem) {
  main {
    margin: 0 1rem !important; } }

main.two-column article {
  float: left;
  width: 65%; }

main.two-column aside {
  float: right;
  width: 30%; }

@media only screen and (max-width: 960px) {
  main.two-column article, main.two-column aside {
    float: none;
    width: 100%; } }

main article h1, main article h2, main article h3 {
  margin-bottom: 1rem; }

main article p {
  padding-bottom: 1rem; }

main article ul, main article ol {
  margin-bottom: 1rem; }

footer .wrap > div {
  padding: 2rem 0; }
  footer .wrap > div a {
    display: block;
    font-size: 1rem;
    color: #FFFFFF; }
    footer .wrap > div a:hover {
      color: #88c88e; }
  footer .wrap > div h5 {
    color: #878888;
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    position: relative;
    text-transform: uppercase; }
    footer .wrap > div h5:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 1rem;
      border-top: 3px solid #88c88e; }
  footer .wrap > div p {
    color: #FFFFFF;
    padding-bottom: 1rem;
    font-size: .8rem; }
  footer .wrap > div:first-of-type p {
    padding-right: 2.5rem; }
  footer .wrap > div ul {
    margin: 0;
    list-style-type: none; }
    footer .wrap > div ul li {
      display: block;
      border-bottom: 1px solid #434444; }
      footer .wrap > div ul li:first-of-type a {
        padding-top: 0; }
      footer .wrap > div ul li a {
        padding: .5rem; }

.blog-sidebar h3 {
  color: #878888;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  position: relative;
  text-transform: uppercase; }
  .blog-sidebar h3:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1rem;
    border-top: 3px solid #88c88e; }

.blog-sidebar .tag-link a {
  min-width: 100px;
  display: inline-block; }

.sisea-result {
  border-bottom: 1px solid #D1D8D7;
  padding: 1rem;
  margin-bottom: 1rem; }

.sisea-search-form {
  border: 1px solid #f4f4f4; }
  .sisea-search-form input {
    height: 2rem;
    line-height: 2rem;
    width: 80%;
    text-indent: .5rem;
    color: #434444;
    float: left; }
  .sisea-search-form button {
    background-color: #f4f4f4;
    height: 2rem;
    float: right;
    cursor: pointer; }
    .sisea-search-form button:hover {
      background-color: #434444; }

.copyright {
  border-top: 1px solid #434444;
  padding: 2rem 0;
  text-align: center;
  line-height: 3rem;
  font-size: .8rem;
  color: #434444; }
  .copyright img {
    display: block;
    margin: 0 auto; }

.is-primary {
  color: #FFFFFF;
  background-color: #88c88e; }
  .is-primary .mp-cell {
    border: 1px solid #abd8af; }
    .is-primary .mp-cell .img-holder {
      background-color: #abd8af; }
    .is-primary .mp-cell a.standout {
      border: 1px solid #abd8af;
      background-color: #88c88e;
      color: #FFFFFF; }
      .is-primary .mp-cell a.standout:hover {
        background-color: #7A8277; }

.is-secondary {
  color: #FFFFFF;
  background-color: #7A8277; }
  .is-secondary .mp-cell {
    border: 1px solid #949b91; }
    .is-secondary .mp-cell .img-holder {
      background-color: #949b91; }
    .is-secondary .mp-cell a.standout {
      border: 1px solid #949b91;
      background-color: #7A8277;
      color: #FFFFFF; }
      .is-secondary .mp-cell a.standout:hover {
        background-color: #88c88e; }

.is-light {
  color: #434444;
  background-color: #dfe4e3; }
  .is-light .text-shadow {
    text-shadow: none !important; }
  .is-light .mp-cell {
    border: 1px solid #f2f4f4; }
    .is-light .mp-cell .img-holder {
      background-color: #f2f4f4; }
    .is-light .mp-cell a.standout {
      border: 1px solid #f2f4f4;
      background-color: #f2f4f4;
      color: #434444; }
      .is-light .mp-cell a.standout:hover {
        background-color: #88c88e;
        color: #FFFFFF; }

.is-dark {
  color: #FFFFFF;
  background-color: #434444; }
  .is-dark .mp-cell {
    border: 1px solid #616363; }
    .is-dark .mp-cell .img-holder {
      background-color: #616363; }
    .is-dark .mp-cell a.standout {
      border: 1px solid #616363;
      background-color: #616363;
      color: #D1D8D7; }
      .is-dark .mp-cell a.standout:hover {
        background-color: #88c88e;
        color: #FFFFFF; }

.is-blue {
  color: #FFFFFF;
  background-color: #41585E; }
  .is-blue .mp-cell {
    border: 1px solid #56747c; }
    .is-blue .mp-cell .img-holder {
      background-color: #56747c; }
    .is-blue .mp-cell a.standout {
      border: 1px solid #56747c;
      background-color: #41585E;
      color: #FFFFFF; }
      .is-blue .mp-cell a.standout:hover {
        background-color: #304449; }

.is-clean {
  color: #434444;
  background-color: #f4f4f4;
  border-bottom: 1px solid #D1D8D7; }
  .is-clean .text-shadow {
    text-shadow: none !important; }
  .is-clean .mp-cell {
    border: 1px solid #D1D8D7; }
    .is-clean .mp-cell .img-holder {
      background-color: #D1D8D7; }
    .is-clean .mp-cell a.standout {
      border: 1px solid #D1D8D7;
      background-color: #f4f4f4; }
      .is-clean .mp-cell a.standout:hover {
        color: #FFFFFF;
        background-color: #88c88e; }

.is-white {
  color: #434444; }
  .is-white .text-shadow {
    text-shadow: none !important; }
  .is-white .mp-cell {
    border: 1px solid #D1D8D7; }
    .is-white .mp-cell .img-holder {
      background-color: #D1D8D7; }
    .is-white .mp-cell a.standout {
      border: 1px solid #D1D8D7;
      background-color: #FFFFFF; }
      .is-white .mp-cell a.standout:hover {
        color: #FFFFFF;
        background-color: #88c88e; }

.mp-cell {
  position: relative; }
  .mp-cell p {
    font-size: .9rem; }
  .mp-cell a.standout {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1.25rem;
    padding: .5rem 1rem;
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden; }
    @media only screen and (max-width: 680px) {
      .mp-cell a.standout {
        padding: .5rem .2rem; } }

.resource-grid-cell {
  min-height: 275px;
  margin-bottom: 2rem !important;
  padding-bottom: 1rem; }
  .resource-grid-cell .img-holder {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: center center; }
  @media only screen and (max-width: 680px) {
    .resource-grid-cell {
      margin-bottom: 4rem !important; }
      .resource-grid-cell span.block {
        padding: .5rem; } }

.mp-grid .mp-2 {
  width: 48.8%;
  float: left;
  margin-left: 1.2%;
  margin-right: 1.2%;
  margin-bottom: 1.2%; }
  .mp-grid .mp-2:nth-child(2n+1) {
    margin-left: 0;
    clear: left; }
  .mp-grid .mp-2:nth-child(2n+0) {
    margin-right: 0; }
  @media only screen and (max-width: 680px) {
    .mp-grid .mp-2 {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.mp-grid .mp-3 {
  width: 31.719%;
  float: left;
  margin-left: 1.2%;
  margin-right: 1.2%;
  margin-bottom: 1.2%; }
  .mp-grid .mp-3:nth-child(3n+1) {
    margin-left: 0;
    clear: left; }
  .mp-grid .mp-3:nth-child(3n+0) {
    margin-right: 0; }
  @media only screen and (max-width: 680px) {
    .mp-grid .mp-3 {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.mp-grid .mp-4 {
  width: 23.2%;
  float: left;
  margin-left: 1.2%;
  margin-right: 1.2%;
  margin-bottom: 1.2%; }
  .mp-grid .mp-4:nth-child(4n+1) {
    margin-left: 0;
    clear: left; }
  .mp-grid .mp-4:nth-child(4n+0) {
    margin-right: 0; }
  @media only screen and (max-width: 680px) {
    .mp-grid .mp-4 {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.mp-grid .mp-5 {
  width: 17.99%;
  float: left;
  margin-left: 1.25%;
  margin-right: 1.25%;
  margin-bottom: 1.25%; }
  .mp-grid .mp-5:nth-child(5n+1) {
    margin-left: 0;
    clear: left; }
  .mp-grid .mp-5:nth-child(5n+0) {
    margin-right: 0; }
  @media only screen and (max-width: 680px) {
    .mp-grid .mp-5 {
      width: 100%;
      margin-right: 0;
      margin-left: 0; } }

.flex--container {
  display: flex; }

.flex--dir-row {
  flex-direction: row;
  flex: 0 1 auto;
  flex-wrap: wrap;
  margin-right: -.5rem;
  margin-left: -.5rem; }

.flex--jc-start {
  justify-content: flex-start; }

.flex--jc-center {
  justify-content: flex-center;
  justify-content: center; }

.flex--jc-end {
  justify-content: flex-end; }

.flex--jc-around {
  justify-content: space-around; }

.flex--jc-between {
  justify-content: space-between; }

.flex--same-height {
  align-items: stretch;
  margin-right: 0;
  margin-left: 0; }
  .flex--same-height div {
    padding-left: 0;
    padding-right: 0; }

.flex--col,
.flex--col-1,
.flex--col-2,
.flex--col-3,
.flex--col-4,
.flex--col-5,
.flex--col-6,
.flex--col-7,
.flex--col-8,
.flex--col-9,
.flex--col-10,
.flex--col-11,
.flex--col-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: .5rem;
  padding-left: .5rem; }

.flex--col {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

.flex--col-1 {
  flex-basis: 8.333%;
  max-width: 8.333%; }

.flex--col-2 {
  flex-basis: 16.667%;
  max-width: 16.667%; }

.flex--col-3 {
  flex-basis: 25%;
  max-width: 25%; }

.flex--col-4 {
  flex-basis: 33.333%;
  max-width: 33.333%; }

.flex--col-5 {
  flex-basis: 41.667%;
  max-width: 41.667%; }

.flex--col-6 {
  flex-basis: 50%;
  max-width: 50%; }

.flex--col-7 {
  flex-basis: 58.333%;
  max-width: 58.333%; }

.flex--col-8 {
  flex-basis: 66.667%;
  max-width: 66.667%; }

.flex--col-9 {
  flex-basis: 75%;
  max-width: 75%; }

.flex--col-10 {
  flex-basis: 83.333%;
  max-width: 83.333%; }

.flex--col-11 {
  flex-basis: 91.667%;
  max-width: 91.667%; }

.flex--col-12 {
  flex-basis: 100%;
  max-width: 100%; }

.flex--nav a {
  display: block;
  text-align: center; }

.flex--nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch; }
  .flex--nav > ul li {
    flex: 1 1 0; }

@media only screen and (max-width: 960px) {
  .flex--half-grid .flex--col,
  .flex--half-grid .flex--col-1,
  .flex--half-grid .flex--col-2,
  .flex--half-grid .flex--col-3,
  .flex--half-grid .flex--col-4,
  .flex--half-grid .flex--col-5,
  .flex--half-grid .flex--col-6,
  .flex--half-grid .flex--col-7,
  .flex--half-grid .flex--col-8,
  .flex--half-grid .flex--col-9,
  .flex--half-grid .flex--col-10,
  .flex--half-grid .flex--col-11,
  .flex--half-grid .flex--col-12 {
    flex-basis: 50%;
    max-width: 50%; } }

@media only screen and (max-width: 680px) {
  .flex--col,
  .flex--col-1,
  .flex--col-2,
  .flex--col-3,
  .flex--col-4,
  .flex--col-5,
  .flex--col-6,
  .flex--col-7,
  .flex--col-8,
  .flex--col-9,
  .flex--col-10,
  .flex--col-11,
  .flex--col-12,
  .flex--nav ul li {
    flex-basis: 100% !important;
    max-width: 100% !important; } }

table {
  width: 100%; }

table th {
  text-align: left;
  padding: .5rem; }

table td {
  padding: .5rem; }

@media only screen and (max-width: 960px) {
  /* Force tables to not be like tables anymore */
  table, table thead, table tbody, table th, table td, table tr {
    display: block; }
  /* Hide table headers (but not display: none;, for accessibility) */
  table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  /* Behave  like a "row" */
  table td {
    border: none;
    position: relative;
    padding-left: 33% !important; }
  /* Now like a table header */
  table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
    font-weight: bold; }
  /*table row seperation line*/
  table td:last-of-type:after {
    content: " ";
    height: 2px;
    background: #D1D8D7;
    width: 100%;
    position: absolute;
    top: 98%;
    left: 0; } }

.menu-item.menu-focus a {
  color: #88c88e; }

nav {
  display: block;
  list-style-type: none;
  position: relative;
  z-index: 9999; }
  nav .active {
    color: #88c88e; }
  @media only screen and (max-width: 960px) {
    nav {
      display: none; } }
  nav ul {
    margin: 0; }
    nav ul li {
      display: inline-block;
      line-height: 1.5rem;
      position: relative;
      z-index: 9999;
      border-left: 1px solid #99d09f;
      border-right: 1px solid #77c07d; }
      nav ul li:hover > a {
        color: #FFFFFF;
        background-color: #3a7d40; }
      nav ul li:hover > ul {
        display: block; }
      nav ul li > a {
        font-size: 1.25rem;
        text-shadow: 1px 1px 1px #434444;
        color: #FFFFFF;
        padding: 1rem .5rem;
        text-transform: uppercase; }
      nav ul li ul {
        position: absolute;
        display: none;
        z-index: 99999;
        top: 99%;
        left: 0;
        width: 100%;
        margin: 0;
        border-top: 1px solid #878888;
        background-color: #f4f4f4; }
        nav ul li ul.open {
          display: block; }
        nav ul li ul li {
          display: block;
          border: none;
          border-bottom: 1px solid #dbdbdb; }
          nav ul li ul li a {
            color: #878888;
            text-align: left !important;
            padding: .5rem;
            font-size: .8rem;
            text-transform: none;
            text-shadow: none; }
            nav ul li ul li a:hover {
              background-color: #e7e7e7;
              color: #88c88e; }

@media only screen and (max-width: 64rem) {
  #top > .wrap {
    margin-left: .5rem;
    margin-right: .5rem; } }

@media only screen and (max-width: 960px) {
  #top {
    position: relative; }
  .top-info {
    padding-left: 3rem; } }

#mobile-nav {
  transition: all 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  margin: 0 0 0 -310px;
  position: absolute;
  z-index: 99999;
  width: 265px;
  height: 100%;
  background-color: #88c88e; }
  #mobile-nav.active {
    margin: 0; }
  #mobile-nav ul {
    margin: 0; }
    #mobile-nav ul li {
      display: block;
      border-top: 1px solid #99d09f;
      border-bottom: 1px solid #77c07d; }
      #mobile-nav ul li a {
        padding: .5rem 1rem;
        display: block;
        text-transform: uppercase;
        color: #FFFFFF; }
      #mobile-nav ul li ul li {
        border: none;
        text-transform: none; }
        #mobile-nav ul li ul li a {
          font-size: .8rem;
          color: #434444;
          padding: .25rem 1rem;
          text-indent: .5rem; }

#mobile-menu {
  margin: 0;
  padding: 1.3rem 1.25rem;
  border: none;
  cursor: pointer;
  background: #88c88e;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5em;
  display: none; }
  #mobile-menu:before {
    content: "";
    position: absolute;
    left: 0.5rem;
    top: 0.75em;
    width: 1.5em;
    height: 0.25em;
    background: white;
    box-shadow: 0 0.38em 0 0 white, 0 0.75em 0 0 white; }
  @media only screen and (max-width: 960px) {
    #mobile-menu {
      display: block; } }

#close-mobile-menu {
  margin: 0;
  padding: .55rem;
  border: none;
  cursor: pointer;
  background: #182225;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 99999;
  width: 45px;
  font-size: 1.2rem; }

.banner {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .banner a {
    margin-top: 1rem; }

.headline {
  width: 100%;
  text-align: center;
  background-repeat: repeat; }

.features {
  padding: 2rem 0 4rem 0;
  text-align: center; }
  @media only screen and (max-width: 680px) {
    .features {
      padding: 2rem 0 0 0; }
      .features > div {
        margin-bottom: 2rem; } }
  .features a:hover .feature-tn {
    border: 3px solid #88c88e; }
  .features a .feature-tn {
    transition: all 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #88c88e;
    background-size: cover;
    background-position: center center;
    border: 3px solid #f4f4f4; }
  .features a span {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0; }

.slider-item {
  min-height: 350px; }

.owl-controls {
  position: absolute;
  width: 100%;
  bottom: 1rem;
  z-index: 9; }
  .owl-controls .owl-pagination {
    text-align: center; }
    .owl-controls .owl-pagination > div {
      display: inline-block;
      padding: .5rem;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      opacity: .4;
      background-color: #182225;
      text-indent: -9999px;
      margin-right: .75rem; }
      .owl-controls .owl-pagination > div:last-of-type {
        margin-right: 0; }
      .owl-controls .owl-pagination > div.active {
        background-color: #88c88e !important;
        opacity: .8 !important; }
      .owl-controls .owl-pagination > div:hover {
        opacity: .9; }
